---
import Contact from "@/components/sections/contact.astro";
import Experience from "@/components/sections/experience.astro";
import Hero from "@/components/sections/hero.astro";
import HowIWork from "@/components/sections/how-i-work.astro";
import Services from "@/components/sections/services.astro";
import BaseLayout from "@/layouts/base-layout.astro";
---

<BaseLayout>
  <main>
    <Hero />
    <Services />
    <HowIWork />
    <Experience />
    <Contact />
  </main>
</BaseLayout>

<style>
  main {
    padding: 48px 0 96px;
  }

  @media (max-width: 880px) {
    main {
      padding: 32px 0 64px;
    }
  }
</style>
