---
import Contact from "@/components/sections/contact.astro";
import Experience from "@/components/sections/experience.astro";
import Hero from "@/components/sections/hero.astro";
import HowIWork from "@/components/sections/how-i-work.astro";
import Projects from "@/components/sections/projects.astro";
import Services from "@/components/sections/services.astro";
import BaseLayout from "@/layouts/base-layout.astro";
---

<BaseLayout>
  <main id="top">
    <Hero />
    <Services />
    <Projects />
    <HowIWork />
    <Experience />
    <Contact />
  </main>
</BaseLayout>
